<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.mapper.ItemMapper">
  <select id="findAll" resultType="com.drug.domain.Item">
    select * from chemical
  </select>

  <select id="findOne" resultType="com.drug.domain.Item">
    select * from chemical where id= #{id}
  </select>

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into chemical(name, ruby, alias,formula,H2O,chara) values(#{name}, #{ruby}, #{alias},#{formula},#{H2O},#{chara})
  </insert>

  <update id="update">
    update chemical set name=#{name}, ruby=#{ruby}, alias=#{alias}, formula=#{formula}, H2O=#{H2O},chara=#{chara} where id= #{id}
  </update>

  <delete id="delete">
    delete from chemical where id = #{id}
  </delete>
</mapper>